<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="vertical-center">
    <div id="insertForm">
        <div th:replace="fragments :: header"></div>
        <html>
        <head><title>Login Page</title></head>
        <body onload='document.f.j_username.focus();'>
        <h3>Login with Username and Password</h3>
        <form name='f' method='POST' action='/login'>

            <label>Username</label>
            <input type='text' class="form-control" name='username' value=''>
            <label>Password</label>
            <input type='password' class="form-control" name='password'/>
            <input id="remember_me" name="remember_me" type="checkbox" value=”true”/>
            <label for="remember_me">Remember me!</label>
            <input type="hidden" class="form-control" name="_csrf" th:value="${_csrf.token}"/>
            <input name="submit" class="form-control btn btn-warning" style="margin-bottom: 0.5em" type="submit"/>
            <input name="reset" class="form-control btn btn-warning" type="reset"/>

        </form>
        </body>
        </html>


    </div>
</div>
<th:block th:replace="fragments:: scripts"></th:block>
</body>
</html>